# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Do_An_Mon_Hoc\DienToan\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
